@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed';
}

body {
    background-color:#f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

main, .chooseCity {
    background: #f5f5f5;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1em;
    -webkit-box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.192); 
  box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.178);
}

h1 {
  font-size: 5em;
}

aside {
  font-size: 2em;
  margin: 0 0 2em 0;
}

p {
  font-size: 1.2em;
}

.changeCity {
  background: #f5f5f5;
  width: 85vw;
  height: 12vh;
  bottom: 5vh;
  position: absolute;
  border-radius: 1em;
  box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.22);
  display: flex;
  justify-content: space-around;
  align-items: center
}
  .changeCity .inputChangeCity, .inputCity {
    height: 2em;
    font-size: 1.2em;
    border-radius: .5em;
    border: 1px solid black;
    padding: .3em;
    background-color: transparent;
  }
  .changeCity button, .chooseCity button {
    background-image: url(./images/refresh-ccw.svg);
      background-repeat: no-repeat;
      background-position: center;
    width: 3em;
    height: 3em;
    border: none;
    border-radius: .5em;
    background-color: #D25005;
    filter: invert(1);
  }

.chooseCity {
  height: 50%;
  align-items: center;
}
  .chooseCity button { 
    background-image: url(./images/arrow-right.svg);
  }
  .chooseCity h2 {
    font-size: 2.3em;
    font-weight: normal;
    margin: 1em;
  }
  .chooseCity div {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
  }
  .chooseCity input[type="text"] {
    height: 70%;
    width: 70%;
  }

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.inactive {
    display: none;
}


.loader { 
    width:20%; 
    margin:0 auto;
    border-radius:10px;
    border:4px solid transparent;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    padding:1px;
    margin: 1em;
  }
  .loader:before {
    content:'';
    border:1px solid #000000; 
    border-radius:10px;
    position:absolute;
    top:-4px; 
    right:-4px; 
    bottom:-4px; 
    left:-4px;
  }
  .loader .loaderBar { 
    position:absolute;
    border-radius:10px;
    top:0;
    right:100%;
    bottom:0;
    left:0;
    background:#000000; 
    width:0;
    animation:borealisBar 2s linear infinite;
  }
  
  @keyframes borealisBar {
    0% {
      left:0%;
      right:100%;
      width:0%;
    }
    10% {
      left:0%;
      right:75%;
      width:25%;
    }
    90% {
      right:0%;
      left:75%;
      width:25%;
    }
    100% {
      left:100%;
      right:0%;
      width:0%;
    }
  }

@media (min-width: 768px) {
  .chooseCity {
    width: 40%;
  }

  .changeCity {
    width: 20%;
    height: 10%;
    bottom: 5vh;
    justify-content: space-between;
    padding: .5em 1em;
  }

  main {
    width: 50%;
  }
}